html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */

  text-decoration: none;
  margin-bottom: 20px;
  color: #ffffff;
  transition: color 0.2s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #243773;
  padding: 3.5em 2em 0;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #243773;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: #243773;
}
.imgprofile {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.small {
  display: flex;

  position: absolute;
  bottom: 0;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}
.p1 {
  color: white;
  padding-left: 80px;
  padding-top: 10px;
}
.p2 {
  color: gray;
  padding-left: 80px;
}
.namepage {
  color: white;
  font-size: 20px;
}
